{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0" style="background-image: url('/images/cincinnatus2.webp'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 400px;">
				<!-- this image is for trigger this section fallback background image -->
				<img src="/images/cincinnatus2.webp" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url(/images/cincinnatus2.jpg)'">
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<h2>Lucius Quinctius Cincinnatus</h2>
					<p>... which was a Roman Republic hero in the 5th century B.C. It is said that the Roman Senate asked him to fight in the army of the republic against the Aequi (people from Italy who occupied parts of the Avens River, known today as Velino). Cincinnatus agreed and left his small farm to led the army against the foreign invaders, defeating them in just a few days’ time. The Roman Senate was greatly appreciative and wanted to award him with dictatorial powers, but he refused and went back to his farm. </p>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
